# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
coverage
junitxml_report

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/
*/docs/_build/

# PyBuilder
target/

# IDEs
.idea/
*/db.sqlite3


# clonedigger
clonedigger.html

# Ignore files that contain secrets that should not be on git
.pypirc

.tox/*

# Do not store vagrant runtime stuff in git
*.vagrant*
.vagrant/

# This one "fixed" some truly weird behavior from the ansible playbooks
# It was a lazy fix; should have been better to debug the odd behavior
/api/
playbooks/*.retry

# Don't track uploads in git
*media*
uploads/

# env files store config stuff
.env
env.sh
*.env

# IPython notebooks, used to experiment on stuff
*.ipynb

# Temp file
.fab_tasks~
sil/static/*
static/*
data/data/approvals/*
data/data/demo/*
data/data/facilities/*
data/data/geocodes/*
data/data/last/*
data/data/setup/*
# mac
.DS_Store
.DS_Store
run_tests.sh

# Profiler output
profile

#celery
celerybeat-schedule
celerybeat.pid

#ignore backup files
*~
\#*#

# ignore junitxml_report contents
junitxml_report/

# vim
*.swp

#ctags
.tags*

# profiling output
prof/

# eggs and other packaging detritus
env.sh.bak
scripts/whoosh_index/*
**pytest_cache**
tags

*.mypy_cache/*

venv/
docs/*/build/*
docs/*/build/*/*

# vscode config file
.vscode/

# Sublime Text git commit file
.gitmessage.txt

# test data
data.json


# Graphene
schema.json
erp.nohup
efile.txt
*.sqlite3
# Dockerrun.aws.json
